<header class="navbar" xmlns:th="https://www.thymeleaf.org">
    <div class="navbar-above">
        <div th:class="${theme.config.basic_style.sidebar_column != 'all' ? 'container two-column' : 'container' }">
            <i class="ri-list-unordered navbar-slideicon"></i>
            <a class="navbar-item logo-title" th:href="${site.url}">
                <th:block th:if="${#strings.isEmpty(site.logo)}" th:text="${site.title}"/>
                <th:block th:unless="${#strings.isEmpty(site.logo)}">
                    <img class="logo-img" th:src="${site.logo}" th:alt="${site.title}" height="28">
                    <img class="logo-img-dark" th:src="${#strings.defaultString(theme.config.basic_info.night_logo, site.logo)}" th:alt="${site.title}" height="28">
                </th:block>
            </a>
            <nav class="navbar-nav active-animate">
                <th:block th:each="menuItem : ${menuFinder.getPrimary().menuItems}">
                    <a th:if="${#lists.isEmpty(menuItem.children)}"
                       class="item"
                       th:href="${menuItem.status.href}"
                       th:target="${menuItem.spec.target?.value}"
                       th:title="${#annotations.getOrDefault(menuItem, 'desc',  menuItem.status.displayName)}">
                        <i th:if="${!#strings.isEmpty(#annotations.getOrDefault(menuItem, 'icon', ''))}"
                           th:class="${'m-icon ' + #annotations.getOrDefault(menuItem, 'icon', '')}"></i>
                        [[${menuItem.status.displayName}]]
                    </a>
                    <div th:unless="${#lists.isEmpty(menuItem.children)}" class="item-dropdown" trigger="hover" placement="60px">
                        <div class="item-dropdown-link">
                            <a class="item"
                               th:href="${#strings.defaultString(menuItem.status.href, 'javascript:')}"
                               th:target="${menuItem.spec.target?.value}"
                               th:title="${#annotations.getOrDefault(menuItem, 'desc', menuItem.status.displayName)}">
                                <i th:if="${!#strings.isEmpty(#annotations.getOrDefault(menuItem, 'icon', ''))}"
                                   th:class="${'m-icon ' + #annotations.getOrDefault(menuItem, 'icon', '')}"></i>
                                [[${menuItem.status.displayName}]]
                            </a>
                            <i class="ri-arrow-down-s-line item-dropdown-link-icon" style="color:var(--main)"></i>
                        </div>
                        <nav class="item-dropdown-menu">
                            <li th:each="dropdown : ${menuItem.children}" class="item-sub-li">
                                <a class="item"
                                   th:href="${#strings.defaultString(dropdown.status.href, 'javascript:')}"
                                   th:target="${dropdown.spec.target?.value}"
                                   th:title="${#annotations.getOrDefault(dropdown, 'desc', dropdown.status.displayName)}">
                                    <i th:if="${!#strings.isEmpty(#annotations.getOrDefault(dropdown, 'icon', ''))}"
                                       th:class="${'m-icon ' + #annotations.getOrDefault(dropdown, 'icon', '')}"></i>
                                    [[${dropdown.status.displayName}]]
                                </a>
                                <ol class="item-sub" th:if="${!#lists.isEmpty(dropdown.children)}">
                                    <li th:each="dropdownChild : ${dropdown.children}">
                                        <a class="item"
                                           th:href="${dropdownChild.status.href}"
                                           th:target="${dropdownChild.spec.target?.value}"
                                           th:title="${#annotations.getOrDefault(dropdownChild, 'desc', dropdownChild.status.displayName)}">
                                            <i th:if="${!#strings.isEmpty(#annotations.getOrDefault(dropdownChild, 'icon', ''))}"
                                               th:class="${'m-icon ' + #annotations.getOrDefault(dropdownChild, 'icon', '')}"></i>
                                            [[${dropdownChild.status.displayName}]]
                                        </a>
                                    </li>
                                </ol>
                            </li>
                        </nav>
                    </div>
                </th:block>
            </nav>
            <div th:if="${pluginFinder.available('PluginSearchWidget')}" class="navbar-search">
                <button onclick="javascript:SearchWidget.open();" class="submit" aria-label="搜索按钮" style="border-radius: 17px;"><i class="ri-search-line"></i></button>
            </div>
            <i class="ri-search-line navbar-searchicon" onclick="javascript:SearchWidget.open();"></i>
        </div>
    </div>

    <div class="navbar-slideout">
        <div class="navbar-slideout-wrap">
            <div class="navbar-slideout-author">
                <img width="50" height="50" th:src="${contributor.avatar}" th:alt="${contributor.displayName}" class="avatar"/>
                <div class="info">
                    <p class="link" th:text="${contributor.displayName}"></p>
                    <p class="motto" th:text="${contributor.bio}"></p>
                </div>
            </div>
            <ul class="navbar-slideout-menu" th:if="${!#lists.isEmpty(theme.config.sidebar.custom_stats)}">
                <li class="item" th:each="itemData,sindex :${theme.config.sidebar.custom_stats}" th:switch="${itemData.type}">
                    <div th:case="visit">
                        <i class="ri-pie-chart-line"></i>
                        <span>累计收获 <strong th:text="${stats.visit}"></strong> 次访问</span>
                    </div>
                    <div th:case="upvote">
                        <i class="ri-thumb-up-line"></i>
                        <span>累计收获 <strong th:text="${stats.upvote}"></strong> 个点赞</span>
                    </div>
                    <div th:case="comment">
                        <i class="ri-message-2-line"></i>
                        <span>累计收到 <strong th:text="${stats.comment}"></strong> 条评论</span>
                    </div>
                    <div th:case="category">
                        <i class="ri-apps-line"></i>
                        <span>累计创建 <strong th:text="${stats.category}"></strong> 个分类</span>
                    </div>
                    <div th:case="tag" th:with="tagsList = ${tagFinder.listAll()}, tags = ${#lists.size(tagsList)}">
                        <i class="ri-price-tag-2-line"></i>
                        <span>累计创建 <strong th:text="${tags}"></strong> 个标签</span>
                    </div>
                    <div th:case="*">
                        <i class="ri-edit-circle-line"></i>
                        <span>累计撰写 <strong th:text="${stats.post}"></strong> 篇文章</span>
                    </div>
                </li>
            </ul>
            <ul class="navbar-slideout-menu not-toc">
                <li>
                    <a class="link panel" href="#" rel="nofollow">
                        <span>导航</span>
                        <i class="ri-arrow-right-s-line"></i>
                    </a>
                    <ul class="slides panel-body panel-side-menu">
                        <li th:each="menuItem : ${menuFinder.getPrimary().menuItems}">
                            <a class="link"
                               th:if="${#lists.isEmpty(menuItem.children)}"
                               th:href="${menuItem.status.href}"
                               th:title="${menuItem.status.displayName}"
                               th:text="${menuItem.status.displayName}"></a>
                            <th:block th:unless="${#lists.isEmpty(menuItem.children)}">
                                <div class="link panel">
                                    <a th:href="${menuItem.status.href}"
                                       th:title="${menuItem.status.displayName}"
                                       th:text="${menuItem.status.displayName}"></a>
                                    <i class="ri-arrow-right-s-line"></i>
                                </div>
                                <ul class="slides panel-body">
                                    <li th:each="dropdown : ${menuItem.children}">
                                        <a class="link"
                                           th:if="${#lists.isEmpty(dropdown.children)}"
                                           th:href="${dropdown.status.href}"
                                           th:title="${dropdown.status.displayName}"
                                           th:text="${dropdown.status.displayName}"></a>
                                        <th:block th:unless="${#lists.isEmpty(dropdown.children)}">
                                            <div class="link panel">
                                                <a th:href="${dropdown.status.href}"
                                                   th:title="${dropdown.status.displayName}"
                                                   th:text="${dropdown.status.displayName}"></a>
                                                <i class="ri-arrow-right-s-line"></i>
                                            </div>
                                            <ul class="slides panel-body">
                                                <li th:each="dropdownChild : ${dropdown.children}">
                                                    <a class="link"
                                                       th:href="${dropdownChild.status.href}"
                                                       th:title="${dropdownChild.status.displayName}"
                                                       th:text="${dropdownChild.status.displayName}"></a>
                                                </li>
                                            </ul>
                                        </th:block>
                                    </li>
                                </ul>
                            </th:block>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul th:if="${theme.config.basic_style.drawer_toc}" class="navbar-slideout-menu is-toc">
                <a class="link in" href="#" rel="nofollow"><span>目录</span></a>
                <div class="toc-content">
                </div>
            </ul>
        </div>
    </div>

    <div class="navbar-mask"></div>
</header>
