<aside xmlns:th="https://www.thymeleaf.org"
       th:fragment="widget (position)"
       class="column column-side column-${position} ${settings[position+'_sidebar_sticky']!'none'}-sticky">
  <th:block th:each="sidebar :${theme.config.sidebar.sidebar_show}">
    <th:block th:if="${sidebar.position == position}">
      <th:block th:replace="~{${'/widget/' + sidebar.type}}" />
    </th:block>
  </th:block>
  <div th:if="${position == 'left'}" class="column-right-shadow is-hidden-desktop">
  </div>
</aside>