<aside xmlns:th="https://www.thymeleaf.org"
       th:fragment="widget (position)"
       th:class="'column column-side column-' + ${position} + ' ' + ${position == 'left'?theme.config.basic_style.left_sidebar_sticky:theme.config.basic_style.right_sidebar_sticky} + '-sticky'">
  <th:block th:each="sidebar :${theme.config.sidebar.sidebar_show}">
    <th:block th:if="${sidebar.position == position}">
      <th:block th:replace="~{${'/widget/' + sidebar.type} :: widget ( sidebar = ${sidebar})}" />
    </th:block>
  </th:block>
  <div th:if="${position == 'left'}" class="column-right-shadow is-hidden-desktop">
  </div>
</aside>