<!DOCTYPE html>
<th:block
  th:insert="~{common/layout :: layout (title = ${title} + ' - ' + ${site.title}, canonical = @{/friends}, content = ~{::content}, isPost = true)}"
  th:with="isJournals = true, enableShare = false, baseEnableComment = false"
  xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="content">
    <div th:if="${theme.config.page_config.enable_friends_stats}" class="card card-content friends">
      <div class="card-tab">
        <div>[[${#strings.replace(title, ' - ' + site.title, '')}]]</div>
      </div>
      <nav class="level" th:with="stats = ${friendFinder.statistical()}">
        <div class="level-item">
          <div>
            <p class="heading">订阅数</p>
            <p class="value" th:title="${stats.friendsNum}" th:text="${stats.friendsNum}"></p>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">订阅成功数</p>
            <p class="value" th:title="${stats.activeNum}" th:text="${stats.activeNum}"></p>
          </div>
        </div>
        <div class="level-item">
          <div>
            <p class="heading">订阅文章数</p>
            <p class="value" th:title="${stats.articleNum}" th:text="${stats.articleNum}"></p>
          </div>
        </div>
      </nav>
    </div>
    <div class="widget card friends" th:each="friend : ${friends.items}" th:with="spec = ${friend.spec}">
      <div class="card-content main">
        <h2 class="title"><a th:href="${spec.link}" target="_blank" th:text="${spec.title}"></a></h2>
        <div class="main-content not-toc" th:text="${spec.description}"></div>
        <hr/>
        <div class="meta">
          <a class="has-link-grey" th:href="${spec.url}" target="_blank">
            <img th:if="${!#strings.isEmpty(spec.logo)}" th:src="${spec.logo}" alt="avatar">
            <span th:text="${spec.author}"></span>
          </a>
          <em th:text="'发表于 ' + ${#dates.format(spec.pubDate,'yyyy年MM月dd日 HH:mm:ss')}"></em>
        </div>
      </div>
    </div>
    <th:block th:replace="~{main/pagination :: pagination (${friends}, '/friends')}"/>
  </th:block>
</th:block>
