<!DOCTYPE html>
<th:block
  th:insert="~{common/layout :: layout (title = ${title} + ' - ' + ${site.title}, canonical = @{/friends}, content = ~{::content}, isPost = true)}"
  th:with="isJournals = true, enableShare = false, baseEnableComment = false"
  xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="content">
    <div class="card card-content friends" th:each="friend : ${friends.items}" th:with="spec = ${friend.spec}">
      <p class="friends-title">
        <a th:href="${spec.url}" target="_blank">
          <span th:text="${spec.title}"></span>
        </a>
      </p>
      <div class="friends-content fold">
        <div class="main-content not-toc description">
          <span th:text="${spec.description}"></span>
        </div>
      </div>
      <div class="friends-date">
        <img th:src="${spec.logo}" alt="avatar">
        <span th:text="${spec.author}"></span>
        <em th:text="'发表于 ' + ${#dates.format(spec.pubDate,'yyyy年MM月dd日 HH:mm:ss')}"></em>
      </div>
    </div>
    <th:block th:replace="~{main/pagination :: pagination (${friends}, '/friends')}"/>
  </th:block>
</th:block>