<!DOCTYPE html>
<th:block
  th:insert="~{common/layout :: layout (title = ${title} + ' - ' + ${site.title}, canonical = @{/moments}, content = ~{::content}, isPost = true)}"
  th:with="isJournals = true, enableShare = ${theme.config.page_config.enable_journals_share}, baseEnableComment = ${theme.config.page_config.enable_journals_comment}"
  xmlns:th="https://www.thymeleaf.org">
  <th:block th:fragment="content">
    <div class="card card-content journal" th:each="moment : ${moments.items}">
      <p class="journal-date">
        <i class="ri-send-plane-line"></i>
        <em th:text="${#dates.format(moment.spec.releaseTime,'yyyy年MM月dd日 HH:mm:ss')}"></em>
      </p>
      <div class="journal-content fold">
        <div class="main-content not-toc" data-target="Moment" th:data-id="${moment.metadata.name}">
          [(${moment.spec.content.html})]
          <mew-photos th:if="${!#lists.isEmpty(moment.spec.content.medium)}" th:each="momentItem : ${moment.spec.content.medium}">
            <img th:if="${momentItem.type.name == 'PHOTO'}" th:src="${momentItem.url}" />
          </mew-photos>
          <th:block th:if="${!#lists.isEmpty(moment.spec.content.medium)}" th:each="momentItem : ${moment.spec.content.medium}">
            <mew-video th:if="${momentItem.type.name == 'VIDEO'}" th:src="${momentItem.url}"></mew-video>
          </th:block>
        </div>
      </div>
      <div class="journal-operation">
        <span class="journal-operation-item">
          <a class="like" th:data-id="${moment.metadata.name}" th:data-likes="${moment.stats.upvote}">
            <i class="ri-heart-3-line"></i>
            <em th:text="${(moment.stats.upvote != 0)? moment.stats.upvote : '喜欢'}"></em>
          </a>
        </span>
        <span class="journal-operation-item" th:if="${enableComment}">
          <a class="comment">
            <i class="ri-message-3-line"></i>
            <em th:text="${(moment.stats.totalComment != 0)? moment.stats.totalComment : '评论'}"></em>
          </a>
        </span>
        <span class="journal-operation-item" th:if="${enableShare}">
          <a class="share"><i class="ri-share-forward-line"></i><em>分享</em></a>
        </span>
      </div>
      <div class="journal-comment" th:if="${enableComment}">
        <div class="comment-section" data-target="Moment" th:data-id="${moment.metadata.name}"></div>
      </div>
    </div>
    <th:block th:replace="~{main/pagination :: pagination (${moments}, '/moments')}"/>
  </th:block>
</th:block>
