<div xmlns:th="https://www.thymeleaf.org"
     th:fragment="widget (hide)"
     th:class="'card widget tags ' + ${hide}"
     th:with="num = ${#strings.isEmpty(theme.config.sidebar.tags_num)? 18 : T(java.lang.Integer).parseInt(theme.config.sidebar.tags_num)},
     tags = ${tagFinder.list(1,num)},
     isEmpty = ${#lists.isEmpty(tags)},
     enableTagsColor = ${theme.config.sidebar.enable_tag_color}">
    <div class="card-title">
        <i class="ri-price-tag-3-line card-title-label"></i><span>标签</span>
        <a th:if="${theme.config.sidebar.tags_more}" class="card-more" th:href="@{/tags}">更多<i class="ri-arrow-right-double-line"></i></a>
    </div>
    <div th:if="${isEmpty}" class="card-empty">暂无标签</div>
    <div th:unless="${isEmpty}" class="card-content">
        <a
          th:each="tag : ${tags}"
          th:href="@{${tag.status.permalink}}"
          th:text="${tag.spec.displayName}"
          th:style="${(enableTagsColor && tag.spec.color != '#ffffff')? 'color: ' + tag.spec.color +'; border-color: ' + tag.spec.color +'; background: ' + tag.spec.color +'20;' : ''}"></a>
    </div>
</div>
